{% load staticfiles %}

<div class="main-header">
        <div class="logo">
            <img src="{% static 'images/basel_jedar.jpg' %}">
            <div class="abs-text-container">
                <p class="text-left"><span class="d-block text-center"> بسم الله الرحمن الرحيم</span><br>
تحية العروبة والوطن والتحرير<br>
 أما بعد..<br>
 إن كنت تقرأ هذا فهذا يعني أني قد مِتُّ وقد صعدت الروح إلى خالقها، وأدعو الله أن ألاقيه بقلبٍ سليم مقبل غير مدبر بإخلاص بلا ذرة رياء.<br>
 لكم من الصعب أن تكتب وصيتك، ومنذ سنين انقضت وأنا أتأمل كل وصايا الشهداء التي كتبوها، لطالما حيرتني تلك الوصايا، مختصرة سريعة مختزلة فاقدة للبلاغة ولا تشفي غليلنا في البحث عن أسئلة الشهادة. وأنا الآن أسير إلى حتفي راضيًا مقتنعًا وجدت أجوبتي، يا ويلي ما أحمقني وهل هناك أبلغ وأفصح من فعل الشهيد، وكان من المفروض أن أكتب هذا قبل شهورٍ طويلة إلا أن ما أقعدني عن هذا هو أن هذا سؤالكم أنتم الأحياء فلماذا أجيب أنا عنكم فلتبحثوا أنتم... أما نحن أهل القبور فلا نبحث إلا عن رحمة الله.</p>
            </div>
        </div>
        <div class="intro">
            <img src="{% static 'images/waseya.jpg' %}">
        </div>


    </div> <!---------End Main section -->
